<section id="page-title">
  <div class="row">
    <h1 class="mainTitle pull-left">{{::vm.title}}</h1>

    <div class="pull-right" ncy-breadcrumb></div>
  </div>
</section>

<div class="container-fluid container-fullw">
  <div class="border-around">
    <div class="bg-white padding-30">
      <form class="form-horizontal" name="ConsultingForm" novalidate>
        <div class="row">
          <div class="form-group margin-top-10"
               ng-class="{'has-error':ConsultingForm.title.$dirty && ConsultingForm.title.$invalid}">
            <label for="inputEmail1" class="col-md-1 control-label"><span class="symbol required"></span>标题:</label>
            <div class="col-md-11">
              <input type="text" class="form-control" id="inputEmail1" placeholder="请输入标题内容" name="title" ng-model="vm.consulting.title" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group margin-top-10"
               ng-class="{'has-error':ConsultingForm.summary.$dirty && ConsultingForm.summary.$invalid}">
            <label for="inputEmail1" class="col-md-1 control-label"><span class="symbol required"></span>摘要:</label>

            <div class="col-md-11">
              <input type="text" class="form-control"  name="summary" placeholder="请输入摘要内容"
                     ng-model="vm.consulting.summary" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group margin-top-10">
            <label for="inputEmail2" class="col-md-1 control-label"><span class="symbol"></span>优先级:</label>
            <div class="col-md-11">
              <input type="number" class="form-control" id="inputEmail2" name="displayOrder" placeholder="请输入优先级" ng-model="vm.consulting.displayOrder">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group margin-top-10"
               ng-class="{'has-error':ConsultingForm.parent.$dirty && ConsultingForm.parent.$invalid}">
            <label for="inputEmail3" class="col-md-1 control-label"><span class="symbol required"></span>文章来源:</label>
            <div class="col-md-11">
              <input type="text" class="form-control" id="inputEmail3" name="parent" placeholder="请输入文章来源" ng-model="vm.consulting.parent" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group margin-top-10"
               ng-class="{'has-error':ConsultingForm.publicTime.$dirty && ConsultingForm.publicTime.$invalid}">
            <label for="inputEmail4" class="col-md-1 control-label"><span class="symbol required"></span>发布时间:</label>
            <div class="col-md-11">

            <!--  <input type="text" class="form-control"
                     id="inputEmail4" placeholder="请输入发布时间"
                     ng-model="vm.consulting.publicTime">-->
              <p class="input-group">
                <input type="text" id="inputEmail4" class="form-control" name="publicTime"
                       datepicker-popup="{{vm.calendar.dateFormat}}"
                       ng-model="vm.consulting.publicTime"
                       is-open="vm.calendar.opened"
                       datepicker-options="vm.calendar.dateOptions" close-text="关闭"
                       show-weeks="false"
                       current-text="今天" clear-text="清除" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="vm.calendar.selectDate($event,vm.consulting.publicTime)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="margin-top-20">
            <summernote ng-model="vm.consulting.body" height="500" lang="zh-CN"
                        on-image-upload="vm.imageUpload(files)" editable="vm.editable"
                        editor="vm.editor"></summernote>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
              <label class="block">是否发布:</label>

              <div class="radio clip-radio radio-primary radio-inline">
                <input type="radio" id="channel1"value="1"
                       ng-model="vm.consulting.isPublic" name="channels">
                <label for="channel1">
                  是
                </label>
              </div>

              <div class="radio clip-radio radio-primary radio-inline">
                <input type="radio" id="channel2"value="0"
                       ng-model="vm.consulting.isPublic" name="channels">
                <label for="channel2">
                  否
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row margin-bottom-20">
        <div class="col-md-4 col-md-offset-4">
          <label><span class="symbol required"></span>标题照:</label>

          <div class="clearfix">
            <div class="license-pic" ng-repeat="picture in vm.uplpadParams1.pictures"
                 tooltip="你确定要删除吗?" tooltip-placement="top"
                 ng-click="vm.delPicture1($index)">
              <img ng-src="{{picture.pictureUri}}" alt=""/>

              <div class="mask">
                <i class="ti-close"></i>
              </div>
            </div>
            <div ng-if="vm.uplpadParams1.pictures.length < vm.uplpadParams1.maxCount" class="btn-file bg-btn-file"
                 tooltip="添加图片"
                 tooltip-placement="top">
              <i class="ti-plus"></i>
              <input type="file" nv-file-select uploader="vm.uploaderImages1"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center border-top bg-white padding-30">
      <button type="button"
              class="btn btn-default btn-wide margin-right-15"
              ng-click="vm.cancel(vm.stores)">
        取消
      </button>
      <button type="button"
              class="btn btn-danger btn-wide"
              ng-disabled="ConsultingForm.$invalid"
              ng-click="vm.submit(vm.consulting)">
        确定
      </button>
    </div>
  </div>

</div>


